body {
    background-image: url("img/background.jpg");
}

.blue {
    color: steelblue;
    font-weight: bold;
}

.blue_indent {
    color: steelblue;
    font-weight: bold;
    margin-left: 2%;
}

#titre_rapport {
    color: lightslategray;
    font-weight: bold;
    margin-left: 2%;
}

h1 {
    color: steelblue;
    font-size: 20pt;
    text-align: center;
}

h2 {
    color : lightslategray;
    font-size: 16pt;
}

h3 {
    color : lightslategray;
    font-size: 14pt;
    margin-left: 2%;
}

.simple_indent {
    margin-left: 2%;
}


.double_indent {
    margin-left: 3%;
}